@using qadi.Models
@model DeviceViewModel

<html>
<head>
    <title>Inventory</title>
    <link href="/style.css" rel="stylesheet" />
</head>

<body>
    <input type="submit" onclick=location.href="/CiCo/Prologue" value="In-and-Out Portal" />
    <input type="submit" onclick=location.href="/User/UserList" value="User List" /><br /><br />
    <table style="width:100%">
        <thead>
            <tr>
                @*<th>ID</th>*@
                <th>Device ID</th>
                <th>Serial No.</th>
                <th>Make</th>
                <th>Model</th>
                <th>OS</th>
                <th>Type</th>
                <th>Availability</th>
                <th>User</th>
            </tr>
        </thead>

        <tbody>
            @{ var editID = Url.ActionContext.RouteData.Values["id"];
                int ID;
                if (editID != null) {
                    int.TryParse(editID.ToString(), out ID);
                }

                foreach (Device item in Model.Inventory)
                {
                    //var editID = Url.ActionContext.RouteData.Values["id"];
                    if (editID != null && item.id.ToString() == editID.ToString())
                    {
                        Model.device = item;
                    @await Html.PartialAsync("_Edit", Model)
                    }
                    else {
                <tr>
                    @*<td>@item.id</td>*@
                    <td>@item.deviceID</td>
                    <td>@item.serialNo</td>
                    <td>@item.make</td>
                    <td>@item.model</td>
                    <td>@item.os</td>
                    <td>@item.type</td>
                    <td>@item.availability</td>
                    <td>@item.user</td>
                    <td><input type="submit" onclick=location.href="/Home/Index/@item.id" value="Edit" /></td>
                    <td><input type="submit" onclick=location.href="/Home/Remove/@item.id" value="Remove" /></td>
                </tr>
                        }
                    }
                }
        </tbody>
        <tfoot>
            @await Html.PartialAsync("_Add")
            @{ var pageID = Url.ActionContext.RouteData.Values["id"];
                if (pageID != null && pageID.ToString() == "-1"){ <td><div>Duplicate Device ID</div></td>}
            }
        </tfoot>
    </table>
</body>
</html>